<div class='container'>
    <div class='row'>
        <div class='col-4'>
            <div class='furniture-name-titletop'>
                <p><strong>Name</strong></p>
            </div>
        </div>
        <div class='col-4'>
            <div class='furniture-name-titletop'>
                <p><strong>Description</strong></p>
            </div>
        </div>
        <div class='col-4'>
            <div class='furniture-name-edit'>
                <p> <%= link_to 'edit item', edit_furniture_path %> </p>
            </div>
            <div class='furniture-name-edit'>
                <p> <%= link_to 'delete', delete_furniture_path %> </p>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-4'>
            <div class='furniture-name-title'>
                <p><%= @furniture.name %></p>
            </div>
        </div>
        <div class='col-4'>
            <div class='furniture-name-title'>
                <p><%= @furniture.description %></p>
            </div>
        </div>
    </div>
    
</div>
<div class='container'>
    <div class='row'>
        <div class='col-3'>
            <div class='furniture-name'>
                <p><strong>Stollageret</strong></p>
            </div>
        </div>
        <div class='col-3'>
            <div class='furniture-name'>
                <p><strong>A2 Kropp</strong></p>
            </div>
        </div>
        <div class='col-3'>
            <div class='furniture-name'>
                <p><strong>BC2 Kropp</strong></p>
            </div>
        </div>
        <div class='col-3'>
            <div class='furniture-name'>
                <p><strong>B2 Fløy</strong></p>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-3'>
            <div class='furniture-name'>
                <%= @furniture.Stollager %>
            </div>
        </div>
        <div class='col-3'>
            <div class='furniture-name'>
                <%= @furniture.A2 %>
            </div>
        </div>
        <div class='col-3'>
            <div class='furniture-name'>
                <%= @furniture.BC2 %>
            </div>
        </div>
        <div class='col-3'>
            <div class='furniture-name'>
                <%= @furniture.B2F %>
            </div>
        </div>
    </div>
</div>
<div class='container'>
    <div class='row'>
        <div class='col-3'>
            <div class='furniture-name'>
                <p><strong>BU50</strong></p>
            </div>
        </div>
        <div class='col-3'>
            <div class='furniture-name'>
                <p><strong>BU60</strong></p>
            </div>
        </div>
        <div class='col-3'>
            <div class='furniture-name'>
                <p><strong>ABU1</strong></p>
            </div>
        </div>
        <div class='col-3'>
            <div class='furniture-name'>
                <p><strong>Fjellageret</strong></p>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-3'>
            <div class='furniture-name'>
                <%= @furniture.BU50 %>
            </div>
        </div>
        <div class='col-3'>
            <div class='furniture-name'>
                <%= @furniture.BU60 %>
            </div>
        </div>
        <div class='col-3'>
            <div class='furniture-name'>
                <%= @furniture.ABU1 %>
            </div>
        </div>
        <div class='col-3'>
            <div class='furniture-name'>
                <%= @furniture.Fjellager %>
            </div>
        </div>
    </div>
</div>
<div class='container'>
    <div class='row'>
        <div class='col-3'>
            <div class='furniture-photo-show'>
                <%= image_tag @furniture.image %>
            </div>    
        </div>
        <div class='col-3'>
               
        </div>
        <div class='col-3'>
            
        </div>
        <!--
        <div class='col-3'>
            <div class='furniture-name'>
                <% @locations.each do |loc| %>
                    <div class='furniture-name'>
                        <p><%= loc.storage_name %></p>
                        <p><%= @furniture.storage_count %></p>
                    </div>
                <% end %>
            </div>    
        </div>
        -->
    </div>
</div>